<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: <b>
    *List popular languages for Data Science
    *List commonly used libraries for Data Science
    *Examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1- Julia
2- Python
3- R

Some of the commonly used libraries used by Data Scientists include:
1- pytorch
2- numpy
3- pandas

| Data Science Tools |
|-----------|
| RStudio |
| Apache Spark |
|Jupyter Notebook |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [ ]:
// This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

In [ ]:
// This will convert 200 minutes to hours by diving by 60.

In [2]:
200/60

3.3333333333333335

<b> Author <b>
    Raul Rodriguez